.sublime-menu {
    
    left: 0;
    top: 0;
    width: 40%;
    text-align: left;
    background-color: #fff;
    height: 100%;
    box-shadow: 1ex 0 .5ex rgba(0,0,0,0.5);
    padding-left: 0;
}

.sublime-menu li {
    display: block;
    border-radius: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-indent: 0;
    padding: 0;
    margin-top: 0;
    transition: all 1s;
    line-height: 1.5em;;
    padding: 0 1ex;
}

.sublime-menu li.slide_marker span {
    opacity: 1;
    text-indent:0px;
}

.sublime-menu li.slide_marker {
    
    background-color: transparent !important;
    border-bottom: solid 1px #666;
}

.sublime-menu li.section_marker{
}
.sublime-menu li.section_marker.active {
    border-radius: 0px !important;
    padding: 0 1ex;
}
.sublime-menu li.active {
    font-weight: bolder;;
}