 @media screen and (max-width: 800px) {
     .sublime-menu {
         left: -100%;
         top: 0;
         width: 40%;
         text-align: left;
         background-color: #fff;
         height: 100%;
         box-shadow: 1ex 0 .5ex rgba(0, 0, 0, 0.5);
         padding-left: 0;
         overflow-y: auto;
         li {
             width: 100%;
             height: auto;
             display: block;
             margin-top: 0;
             padding: 0 1ex;
             text-indent: 0;
             line-height: 1.5em;
             border-radius: 0;
             overflow: hidden;
             transition: all 1s;
             &.active, &:hover {
                 padding: 0 1ex !important;
                 font-weight: bolder;
                 border-radius: 0px !important;
             }
             &.slide_marker {
                 background-color: transparent !important;
                 border-bottom: solid 1px #666;
                 span {
                     opacity: 1;
                     text-indent: 0px;
                     position: relative !important;
                     margin-top: 0 !important;
                 }
             }
         }
     }
 }
@media screen and (max-width: 600px) {
    .sublime-menu {
        width: 80%;
    }

 }