header {
  display: block;
  margin: 0;
  position: relative;
  width: 100%;
  top: 0;
  cursor: pointer;
  background-color: #666; }

.slide {
  border-bottom: 2px dashed #999;
  padding-top: 3em; }
  .slide > div {
    margin: 5% 10%; }

.sublime-menu {
  opacity: 1;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 12;
  left: 2em;
  top: 5em;
  width: 1em;
  text-align: center; }
  .sublime-menu li {
    list-style-type: none;
    cursor: pointer;
    display: inline-block;
    background-color: pink;
    border-radius: 15px;
    width: 1em;
    height: 1em;
    overflow: hidden;
    text-indent: -200px;
    padding: 0.25ex 1ex;
    margin-top: 1ex;
    transition: all 1s; }
    .sublime-menu li.slide_marker {
      overflow: visible;
      text-indent: 1em;
      font-size: 1.5ex; }
      .sublime-menu li.slide_marker span {
        opacity: 0;
        transtion: all 1s; }
      .sublime-menu li.slide_marker.active span {
        opacity: 1;
        transtion: all 1s; }
    .sublime-menu li.section_marker.active {
      width: auto;
      height: auto;
      transition: all 1s;
      overflow: auto;
      text-indent: 0px;
      border-radius: 0px;
      padding: 0.5ex 1.25ex;
      border-radius: 1ex; }

.hide {
  opacity: 0;
  transition: all 1s; }

a.prev {
  width: 1em;
  height: 1em;
  display: block;
  background: pink;
  z-index: 13;
  position: fixed;
  top: 4em;
  left: calc(50% - 1ex); }

a.next {
  width: 1em;
  height: 1em;
  display: block;
  background: pink;
  z-index: 13;
  position: fixed;
  bottom: 1ex;
  left: calc(50% - 1ex); }

/* Styling */
header {
  font-size: 2em;
  color: white;
  padding: 0 1ex;
  height: 1.2em;
  padding-left: 1.5em;
  z-index: 2; }

p {
  margin: 0;
  padding: 1em; }

.container .normal {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s; }

.container .zoom {
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  opacity: .5;
  -webkit-transition: all .5s;
  transition: all .5s; }

.container .section:nth-child(1) header {
  background-color: #bf8402;
  box-shadow: 0px 0.5ex 1px 0.25ex #5a3e01; }

.container .section:nth-child(2) header {
  background-color: #d13788;
  box-shadow: 0px 0.5ex 1px 0.25ex #841e54; }

.container .section:nth-child(3) header {
  background-color: #d60ddf;
  box-shadow: 0px 0.5ex 1px 0.25ex #7a077f; }

.container .section:nth-child(4) header {
  background-color: #a04211;
  box-shadow: 0px 0.5ex 1px 0.25ex #441c07; }

.container .section:nth-child(5) header {
  background-color: #1dda7a;
  box-shadow: 0px 0.5ex 1px 0.25ex #118048; }

/*
.container .section:nth-child(1) header {
  background-color: #17eac5;
  box-shadow: 0px 0.5ex 1px 0.25ex #0d8e77; }

.container .section:nth-child(2) header {
  background-color: #8214f9;
  box-shadow: 0px 0.5ex 1px 0.25ex #5004a3; }

.container .section:nth-child(3) header {
  background-color: #cc1db8;
  box-shadow: 0px 0.5ex 1px 0.25ex #731067; }

.container .section:nth-child(4) header {
  background-color: #a82374;
  box-shadow: 0px 0.5ex 1px 0.25ex #54113a; }

.container .section:nth-child(5) header {
  background-color: #0c99d1;
  box-shadow: 0px 0.5ex 1px 0.25ex #065271; }

*/

/*# sourceMappingURL=styles.css.map */
