@import 'colors';


header{
	display: block;
	margin:0;
	position: relative;
	width: 100%;
	top: 0;
	cursor: pointer;
	background-color: #666;
}

 
.slide{
	border-bottom: 2px dashed #999;
	padding-top: 3em;
	> div {
		margin: 5% 10%;
	}
}

.sublime-menu {
	opacity:1;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 12;
	left:2em;
	top:5em;
	width: 1em;
	text-align:center;


	li {

	    list-style-type: none;
	    cursor:pointer;
	    display: inline-block;
	    border-radius: 15px;
	    width:1em;
	    height:1em;
	    overflow: hidden;
	    text-indent: -200px;
	    padding: 0.25ex 1ex;
	    margin-top: 1ex;
	    transition:all 1s;
		&.slide_marker {
		    overflow: visible;
		    text-indent: 1em;
	    	font-size: 1.5ex;
		    span{
		    	opacity: 0;
		    	transtion: all 1s;
		    }
	    	&.active{
			    span{
			    	opacity: 1;
			    	transtion: all 1s;
			    }

	    	}

		}

		&.section_marker{

			&.active {
			    width: auto;
			    height: auto;
			    transition:all 1s;
			    overflow: auto;
			    text-indent: 0px;
			    border-radius: 0px;
			    padding: 0.5ex 1.25ex;
			    border-radius: 1ex;

			}
		}
	}

}

.hide{ 
  opacity:0;
  transition: all 1s
}
 
a.prev{
	width: 1em;
    height: 1em;
    display: block;
    background: pink;
    z-index: 13;
    position: fixed;
    top: 4em;
    left: calc(50% - 1ex);
}
a.next{
	width: 1em;
    height: 1em;
    display: block;
    background: pink;
    z-index: 13;
    position: fixed;
    bottom: 1ex;
    left: calc(50% - 1ex);
}

@import 'styling';
@import 'responsive';