@import 'colors';
body {
    margin: 0;
}

.sublime-menu {
    font-size: 1.2em;
    opacity: 1;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 4;
    left: 2em;
    top: 3em;
    width: 1em;
    text-align: center;
    li {
        list-style-type: none;
        cursor: pointer;
        display: inline-block;
        border-radius: 15px;
        width: 1em;
        height: 1em;
        overflow: hidden;
        text-indent: -200px;
        padding: 0.25ex 1ex;
        margin-top: 1ex;
        transition: all 2s;
        &.slide_marker {
            overflow: visible;
            text-indent: 1em;
            font-size: 1.5ex;
            span {
                opacity: 0;
                transtion: all 2s;
            }
            &.active,
            &:hover {
                span {
                    opacity: 1;
                    transtion: all 2s;
                    margin-top: -0.75ex;
                    position: absolute;
                }
            }
        }
        &.section_marker {
            &.active,
            &:hover {
                width: auto;
                height: auto;
                transition: all 1s;
                overflow: auto;
                text-indent: 0px;
                border-radius: 0px;
                padding: 0.5ex 1.25ex;
                border-radius: 1ex;
            }
            &:hover {
                transition: all .5s;
            }
        }
    }
}

.hide {
    opacity: 0;
    transition: all 1s
}

a.prevPanel {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid rgba(0, 0, 0, 0.35);
    display: block;
    z-index: 3;
    position: fixed;
    top: 4em;
    left: calc(50% - 1rem);
    &:hover{
	    border-bottom: 1rem solid rgba(0, 0, 0, 1);
    }
}

a.nextPanel {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid rgba(0, 0, 0, 0.35);
    display: block;
    z-index: 3;
    position: fixed;
    bottom: 1ex;
    left: calc(50% - 1rem);
    &:hover{
	    border-top: 1rem solid rgba(0, 0, 0, 1);
    }
}


/* COLORS AND STUFF TO LOOK PRETTY */

@import 'styling';

/* RESPONSIVE */

@import 'responsive';
