@import 'colors';
body {
    margin: 0;
}

.has_zoom {
    top: calc(20% + 50px);
    position: relative;
    margin: 0px;
    left: 15%;
    width: 70%;
    &.normal {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        opacity: 1;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    &.zoom {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        opacity: .5;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
}

.hide {
    opacity: 0;
    transition: all 1 ease-in-outs
}

.panelHeader {
    font-size: 38px;
    display: block;
    margin: 0;
    position: relative;
    width: 100%;
    top: 0;
    cursor: pointer;
    background-color: #666;
    z-index: 2;
    margin: 0;
    color: #FFF;
    &.active_header {
        top: calc(0px + 50px);
        position: fixed;
    }
    > * {
        font-size: inherit;
        line-height: 1.5em;
        margin: 0;
        margin-left: 15%;
        color: #FFF;
    }
}



/* MENU STYLES */

@import 'menu';

/* RESPONSIVE */

@import 'responsive';

/* COLORS  TO LOOK PRETTY */

@import 'styling';
