$color: #8e44ad;
$color-alt: #2980b9;
$color-dark: darken($color, 20%);
$color-alt-dark: darken($color-alt, 20%);

$red: #D75948;
$orange: #F06307;
$light-blue: #3a7ebd;
$surprise: rgb(random(256)-1,random(256)-1,random(256)-1);
$surprise2: rgb(random(256)-1,random(256)-1,random(256)-1);
$surprise3: rgb(random(256)-1,random(256)-1,random(256)-1);
$surprise4: rgb(random(256)-1,random(256)-1,random(256)-1);
$surprise5: rgb(random(256)-1,random(256)-1,random(256)-1);
