body {
  margin: 0; }

.has_zoom {
  top: calc(20% + 0px);
  position: relative;
  margin: 0px;
  left: 15%;
  width: 70%; }
  .has_zoom.normal {
    transform: scale(1);
    opacity: 1;
    transition: all .5s; }
  .has_zoom.zoom {
    transform: scale(0.7);
    opacity: .5;
    transition: all .5s; }
  .has_zoom:after {
    content: "";
    display: table;
    clear: both; }

.panelsNavigation,
.border_box {
  font-family: Open Sans; }

.panelsNavigation *,
.border_box * {
  box-sizing: border-box; }

.border_box.disabled {
  height: auto !important; }
  .border_box.disabled .borderedSlide {
    display: none;
    transition: all 1s ease-in-out; }

.borderedSlide {
  border-bottom: 2px dashed #999;
  padding-top: 3em;
  overflow: hidden !important; }

.hide {
  opacity: 0 !important;
  transition: all 1s ease-in-outs; }

.panelHeader {
  font-size: 38px;
  display: block;
  margin: 0;
  position: relative;
  width: 100%;
  top: 0;
  cursor: pointer;
  background-color: black;
  z-index: 2;
  margin: 0;
  color: #FFF; }
  .panelHeader.active_header {
    top: calc(0px + 0px);
    position: fixed; }
  .panelHeader > * {
    font-size: inherit;
    line-height: 1.5em;
    margin: 0;
    margin-left: 15%;
    color: #FFF; }
  .panelHeader .panelAction {
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    right: 6em;
    top: 0;
    color: #FFF;
    font-size: inherit;
    text-align: center;
    width: 1.5em;
    line-height: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-decoration: none; }
    .panelHeader .panelAction.open:before {
      content: '\f078'; }
    .panelHeader .panelAction.close:before {
      content: '\f077'; }

/* MENU STYLES */
a.menu {
  display: none; }

.sublime-menu {
  font-size: 16px;
  opacity: 1;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 4;
  left: 0;
  top: calc(76px + 0px);
  width: 15%;
  text-align: center;
  overflow-y: auto !important;
  overflow-x: hidden; }
  .sublime-menu li {
    list-style-type: none;
    cursor: pointer;
    display: block;
    border-radius: 15px;
    width: 1em;
    height: 1em;
    overflow: hidden;
    text-indent: -200px;
    padding: 0.25ex 1ex;
    margin: auto;
    margin-bottom: 1.2em;
    transition: all 1s ease-in-out; }
    .sublime-menu li:first-child {
      display: none; }
    .sublime-menu li.slide_marker {
      overflow: visible;
      text-indent: 1em;
      font-size: 1.5ex; }
      .sublime-menu li.slide_marker span {
        opacity: 0;
        transition: all .5s ease-in-out; }
      .sublime-menu li.slide_marker.active span, .sublime-menu li.slide_marker:hover span {
        opacity: 1;
        transtion: all .5s;
        margin-top: -0.75ex;
        position: absolute;
        text-align: left;
        text-indent: 0;
        margin-left: 1em;
        line-height: 1em; }
    .sublime-menu li.section_marker {
      font-size: 1.2ex;
      padding: .5ex 1.25ex;
      height: 2em;
      min-width: 2em;
      width: 2em;
      font-weight: bolder; }
      .sublime-menu li.section_marker.active, .sublime-menu li.section_marker:hover {
        font-size: 1.5ex;
        width: auto;
        transition: all 1s ease-in-out;
        text-indent: 0px;
        border-radius: 0px;
        display: inline-block;
        margin-bottom: 1em; }
      .sublime-menu li.section_marker:hover {
        transition: all .5s ease-in-out; }

a.prevPanel {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid rgba(0, 0, 0, 0.35);
  display: block;
  z-index: 3;
  position: fixed;
  top: calc(76px + 0px);
  left: calc(50% - 16px); }
  a.prevPanel:hover {
    border-bottom: 16px solid black; }

a.nextPanel {
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid rgba(0, 0, 0, 0.35);
  display: block;
  z-index: 3;
  position: fixed;
  bottom: 1ex;
  left: calc(50% - 16px); }
  a.nextPanel:hover {
    border-top: 16px solid black; }

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
  .panelHeader .panelAction {
    right: 0; } }
@media screen and (max-width: 800px) {
  .panelHeader {
    font-size: 5vw;
    text-align: center; }
    .panelHeader > * {
      margin: 0; }
    .panelHeader.active_header {
      top: calc(0px + 0px); }

  .has_zoom {
    top: calc(5% + 0px); }

  .sublime-menu {
    left: calc(-40% - 16px);
    top: 0px;
    width: 40%;
    text-align: left;
    background-color: #fff;
    height: 100%;
    box-shadow: 8px 0 16px rgba(0, 0, 0, 0.5);
    padding-left: 0;
    overflow-y: auto;
    height: 100% !important;
    transition: all .5s ease-in-out; }
    .sublime-menu li {
      width: 100% !important;
      height: auto !important;
      display: block !important;
      margin: 0 !important;
      padding: 0 1ex !important;
      font-size: 16px !important;
      text-indent: 0;
      line-height: 2em;
      border-radius: 0;
      overflow: hidden;
      transition: all .5s ease-in-out; }
      .sublime-menu li:first-child {
        display: none; }
      .sublime-menu li.active, .sublime-menu li:hover {
        padding: 0 1ex !important;
        font-weight: bolder;
        border-radius: 0px !important; }
      .sublime-menu li.slide_marker {
        width: 100%;
        background-color: transparent !important;
        border-bottom: solid 1px #666; }
        .sublime-menu li.slide_marker span {
          opacity: 1;
          text-indent: 0px;
          position: relative !important;
          margin-top: 0 !important; }
      .sublime-menu li:first-child {
        background-color: #4e5a68;
        color: #FFF;
        padding: 1ex; }

  a.menu {
    display: block;
    font-family: monospace;
    font-weight: bolder !important;
    text-decoration: none;
    color: #FFF !important;
    padding: 1ex;
    vertical-align: middle;
    position: fixed;
    top: calc(1.1ex + 0px);
    z-index: 5;
    left: 1em;
    font-size: 1.2em;
    transform: scale(2, 1.7);
    -webkit-transform: scale(2, 1.7);
    -moz-transform: scale(2, 1.7);
    -ms-transform: scale(2, 1.7);
    -o-transform: scale(2, 1.7);
    opacity: 0.75;
    transition: all .5s ease-in-out; }
    a.menu.close {
      left: calc( 40% + 1.1ex);
      opacity: 1;
      padding: .5ex .75ex;
      background-color: rgba(0, 0, 0, 0.75); }

  a.prevPanel {
    top: calc(10vw + 0px); } }
@media screen and (max-width: 600px) {
  .sublime-menu {
    width: 80%;
    left: calc(-80% - 16px); }

  .panelHeader {
    line-height: 2em; }

  a.menu {
    padding: 1ex;
    font-size: 2.5vw; }
    a.menu.close {
      left: calc( 80% + 1.5ex);
      opacity: 1;
      padding: .5ex .75ex; }

  a.prevPanel {
    top: calc(15vw + 0px); } }
@media screen and (max-width: 400px) {
  .panelHeader .panelAction {
    line-height: 2.5em; }
  .panelHeader > * {
    line-height: 2.5em; }

  a.menu {
    padding: 1ex !important;
    font-size: 3.5vw !important; }

  .has_zoom {
    top: calc(10% + 0px); } }
.slide_left {
  left: 0 !important;
  transition: .5s ease-in-out; }

/* COLORS  TO LOOK PRETTY */
/* Styling */
.border_box header {
  background-color: #cf2d72;
  box-shadow: 0px 0.5ex 0 0.3ex #7b1b44; }

.border_box:nth-child(1) header {
  background-color: #333cb2;
  box-shadow: 0px 0.5ex 0 0.3ex #1c2163; }

.border_box:nth-child(2) header {
  background-color: #21ac1b;
  box-shadow: 0px 0.5ex 0 0.3ex #10540d; }

.border_box:nth-child(3) header {
  background-color: #f10a1b;
  box-shadow: 0px 0.5ex 0 0.3ex #8f0610; }

.border_box:nth-child(4) header {
  background-color: #bdde24;
  box-shadow: 0px 0.5ex 0 0.3ex #738814; }

.border_box:nth-child(5) header {
  background-color: #cf2d72;
  box-shadow: 0px 0.5ex 0 0.3ex #7b1b44; }

/*# sourceMappingURL=styles.css.map */
